@model SampleProject.Models.Task.UpdateTaskViewModel

@{
    ViewData["Title"] = "Edit Task";
}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Task</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Task</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Edit Task</h5>
                        </div>
                        <div class="card-body">


                            <form asp-action="Edit" method="post" autocomplete="off">
                                <div asp-validation-summary="ModelOnly"></div>
                                <div class="mb-3">
                                    <label asp-for="TaskID" class="form-label">Task ID</label>
                                    <input type="text" asp-for="TaskID" class="form-control" readonly />
                                    <span asp-validation-for="TaskID" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="TaskName" class="form-label">Task Name</label>
                                    <input type="text" asp-for="TaskName" class="form-control"  />
                                    <span asp-validation-for="TaskName" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="TaskType" class="form-label">Task Type</label>
                                    <input type="text" asp-for="TaskType" class="form-control"  />
                                    <span asp-validation-for="TaskType" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-sm btn-primary">Update</button> |
                                <a asp-action="Index" class="btn btn-sm btn-success">Back to List</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

